
@import 'normalize.css';
@import 'variables.scss';
@import 'fonts.scss';

.logo__subtitle {@include font( $text-color-light, 1.3rem, 400, 110%, 1.3px, Arial);}
h1 {@include font($text-primary-color, 3.2rem, 400, 110%, 1.92px);}

@import 'buttons.scss';
@import 'footer.scss';
@import 'modal.scss';

.wrapper{
    max-width: $desktop-width;
    margin: 0 auto;
}

.header_bgcolor{
    max-width: $desktop-width;
    margin: 0 auto;
    background: $bg-color-header;
}

.navigation{

    display: flex;
    justify-content: space-between;
    padding: 60px 40px 0px 40px;
    @media ( $tablet-width <= width <= $desktop-width){
        padding: 30px 30px 0px 30px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        padding: 30px 10px 0px 10px;
    }
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#navigation__toggle:checked ~ .navigation__links {
    visibility: visible;
  }

#navigation__toggle:checked ~ .navigation__btn > span {
transform: rotate(90deg);
transition: 300ms;
}

.navigation__links>li:first-child {
    display: none;
}

.navigation__links{
    display: flex;
    visibility: visible;
    gap:35px;
    & a{
        color: $text-color-dark-s;
    }

    & a:hover{
        transition: 100ms;
        padding-bottom: 5px;
        border-bottom: 3px solid $button-primary-color;
    }
    @media ($mobile-width <= width < $tablet-width) {
        &>li:first-child {
            display:block;
            text-align:left;
            padding-left: 20px;
        }
        visibility: hidden;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0;  //изменить на 0
        width: 320px;
        height: 100%;
        margin: 0 ;
        padding: 30px 0px 80px 10px;
        background-color: $bg-color-dark;
        @include font(#FAFAFA, 3.2rem, 400, 160%, normal);


    }
}

// выключить отображение чекбокса
#navigation__toggle {
    opacity: 0;
  }

// оформление кнопки
.navigation__btn {
    visibility: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 53px;
  
    width: 30px;
    height: 30px;
  
    cursor: pointer;
    z-index: 1;

    @media ($mobile-width <= width < $tablet-width) {
        visibility: visible;
    }
  }

//серединка кнопки
  .navigation__btn > span,
  .navigation__btn > span::before,
  .navigation__btn > span::after {
    display: block;
    position: absolute;
    
    width: 100%;
    height: 2px;
    background-color: $button-primary-color;

    transition: 300ms;
  }

// здесь выше кнопки
    .navigation__btn > span::before {
    content: '';
    top: -10px;
  }

// здесь ниже кнопки
    .navigation__btn > span::after {
    content: '';
    top: 10px;
  }

.menu{
    display: flex;
    padding: 60px 40px 0px 40px;
    @media ( $tablet-width <= width <= $desktop-width){
        flex-direction: column;
        padding: 30px 30px 0px 30px;
    }  
    @media ($mobile-width <= width < $tablet-width) {
        flex-direction: column;
        padding: 10px 10px 0px 10px;
    }
    }

.menu__text{
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 163px 42px 0px 0px;
    margin: 0px;
    @media ( $tablet-width <= width <= $desktop-width){
        padding: 30px 125px 0px 124px;
        text-align: left;
        & button{margin: 0 auto;}

    }        
    @media ($mobile-width <= width < $tablet-width) {
        padding: 50px 0px 0px 0px;
        text-align: center;
        & button{margin: 0 auto;}
    }                   
}

@media ( $tablet-width <= width <= $desktop-width){
.menu img{
    padding: 100px 0px 0px 140px;
}
}
@media ($mobile-width <= width < $tablet-width) {
    .menu img{
        padding: 106px 0px 0px 40px;
    }
}

.about{
    display: flex;
    gap: 120px;
    padding-bottom: 95px;
    & p{
        color: $text-color-dark;
    }
    @media ( $tablet-width <= width <= $desktop-width){
        flex-direction: column-reverse;
        gap: 80px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        flex-direction: column-reverse;
        gap: 42px;
        padding-bottom: 35px;
    }
    
}

.about__image{
    padding: 80px 0px 0px 215px;
    transition: 500ms;
    &:hover{
        transition: 500ms;
        scale: 1.05;
    }
    @media ( $tablet-width <= width <= $desktop-width){
        padding: 00px 0px 0px 225px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        padding: 00px 30px 0px 30px;
        &:hover{
            scale: unset;
        }
        & img{
            width: 260px;

        }
    }
}

.about__content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 94px 215px 0px 0px;
    @media ( $tablet-width <= width <= $desktop-width){
        padding: 83px 170px 0px 168px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        padding: 43px 25px 0px 25px;
        text-align: justify;
    }
}

.main{
    background-color: $bg-color-main;
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items:center;
    @media ($mobile-width <= width < $tablet-width) {
        padding: 40px 10px 100px 10px;
        text-align: center;
    }
    @media ($mobile-width <= width < $tablet-width) {
        padding: 40px 10px 40px 10px;
        gap: 42px;
    }
}

.main__carousel{
    display: flex;
    justify-content:space-between;
    align-items:center; 
    width: 100%;
    @media ( $tablet-width <= width <= $desktop-width){
        & .animal-item:last-of-type {
            display: none;
        }
    }
    @media ($mobile-width <= width < $tablet-width) {
        flex-wrap:wrap;
        flex-direction: row;
        width: 270px;
        & .animal-item:not(:first-of-type) {
        display: none;
        }



        .arrow-button:first-of-type{
            order: 1;
            margin-top: 25px;
            margin-left: 20%;
            // margin-right: auto;
        }
        .arrow-button:last-of-type{
            order: 1;
            margin-top: 25px;
            // margin-left: auto;
            margin-right: 20%;
        }

    }
}

.animal-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
    background-color: $bg-color-light;
}


.animal-item__slider{
    display: flex;
    flex-direction: row;
    gap: 60px;
    overflow: hidden;
    width: 930px;

    @media ( $tablet-width <= width <= $desktop-width){
        width: 600px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        
        width: 100%;
        justify-content: center;

    }

}

.help {
    padding: 0px 60px 50px 60px;
    text-align:center;
    & h3{padding-top: 80px;}
    @media ($mobile-width <= width < $tablet-width) {
        padding: 0px 10px 20px 10px;
        & h3{padding-top: 45px;}
    }

}

.help__grid{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: 165px;
    padding-top: 60px;
    @media ( $tablet-width <= width <= $desktop-width){
        grid-template-columns: repeat(9, 1fr);
    }
    @media ($mobile-width <= width < $tablet-width) {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 40px;
        grid-auto-rows: 115px;
    }
}

.help-item:nth-child(9n+1), .help-item:nth-child(9n+2), .help-item:nth-child(9n+3), .help-item:nth-child(9n+4), .help-item:nth-child(9n+5) {
    grid-column: auto / span 4;
    @media ( $tablet-width <= width <= $desktop-width){
        grid-column: auto / span 3;
    }
    @media ($mobile-width <= width < $tablet-width) {
        grid-column: auto / span 1;
    }
  }
.help-item:nth-child(9n+6), .help-item:nth-child(9n+7), .help-item:nth-child(9n+8), .help-item:nth-child(9n+9) {
    grid-column: auto / span 5;
    @media ( $tablet-width <= width <= $desktop-width){
        grid-column: auto / span 3;
    }
    @media ($mobile-width <= width < $tablet-width) {
        grid-column: auto / span 1;
    }
  }

.help-item{
    & h4{
    padding-top: 25px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        & h4{
            padding-top: 10px;
            font-size: 1.5rem;
        }
    }
}

.donation{
    background-color: $bg-color-main;
    display: flex;
    gap: 30px;
    padding: 80px 182px 100px 183px;
    @media ( $tablet-width <= width <= $desktop-width){
        flex-direction: column-reverse;
        padding: 80px 132px 100px 25%;
        gap: 0px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        flex-direction: column-reverse;
        padding: 45px 10px 45px 10px;
        gap: 0px;
        & .donation__credit-card{
            font-size: 1.5rem;
        }
    }
}

.donation_image{
    // max-height: 261px;
    width: 100%;
    padding-top: 10px;
    @media ( $tablet-width <= width <= $desktop-width){
        padding-top: 60px;
    }
    @media ($mobile-width <= width < $tablet-width) {
        padding-top: 20px;

    }
}
.donation__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @media ($mobile-width <= width < $tablet-width) {
      align-items: center;  
      text-align: center;
    }
}

.donation__credit-card{
    background: $button-primary-color;
    border-radius: 9px;
    padding: 10px 15px;
    & svg{
    vertical-align: bottom;
    }
    &:hover{
        color: $button-primary-color;
        & path {fill: $button-primary-color;}
        background: $bg-color-header;
        cursor: pointer;
    }
}

@media (width < $mobile-width) {
    *{
display: none;
    }
}

