.logo_title{
    color: #F1CDB3;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: 1.92px;
}

.logo_subtitle{
    color: #FFF;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;  
}

.paragraph-l{
    /* color: #FAFAFA; */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */  
}

h2{
    color: #FFF;
    font-family: Georgia;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 57.2px */  
}


.button_primary{
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}

h3{
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}

/* cat names */

h4{
    color: #545454;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px; 
}

h5{
    color: #545454;
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 16.5px */
    letter-spacing: 0.9px;  
}