
$desktop-width: 1280px;
$tablet-width: 760px;
$mobile-width: 320px;

$bg-color-header: url('/shelter-dom/images/noise_transparent@2x.svg'), radial-gradient((237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20);
$bg-color-dark: #292929;
$bg-color-main: #F6F6F6;
$bg-color-light: #FAFAFA;

$button-primary-color: #F1CDB3;
$button-primary-color-light: #FDDCC4;
$button-primary-color-dark: #292929;


$text-primary-color: #F1CDB3;
$text-paragraph-l-color: #FAFAFA;
$text-donation_card-color: #B2B2B2;
$text-color-dark: #4C4C4C;
$text-color-light: #FFFFFF;
$text-color-dark-s: #CDCDCD;
$text-color-dark-l: #545454;